.biorow1{
  clear:both;
  width: 100%;
}

.biorow2{
  clear:both;
  width: 100%;
  padding-top: 50px;
}

.biopic {
  float: left;
  width: 20%;
  border: 3px #edeef0;
  border-style:solid;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1em;
  border-radius: 100%;
}

.bious{
  border-radius: 100%;
}

.bious:hover{
  opacity: 0.7;
}

.biotext {
  float: left;
  width: 25%;
}

.biotext p {
  text-align: justify;
  position: relative;
  top: -10px;
  padding-right: 25px;
}

.biotitle{
  text-align: center;
  padding-bottom: 70px;
  padding-top: 100px;
}

.biosocialmedia {
  border-radius: 100%;
  height: 1.5em;
  margin-right: 1em;
}

.biosocialmedia:hover{
  opacity: 0.5;
}

h3 {
  font-weight: bold;
}

@media screen and (max-width: 875px){
  .biopic{
    width: 100%;
    margin-top: 1em;
  }

  .bious{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .biotext{
    width: 100%;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
  }

}
