.navbar {
	position: fixed;
	background-color: #F3F5F4;
	width: 100%;
	z-index: 1001;
}

.navbar a {
	text-decoration: none;
}

.navbar li {
	float: left;
	padding-right: 2em;
	list-style-type: none;
	font-size: 1.5em;
}
.navbar ul {
	float:right;
	padding-top: 1em;
}

.libertyxlogo img {
	width: 3%;
	clear: both;
	float: left;
	padding-left: 2em;
	padding-top: 0.9em;
}

@media screen and (max-width: 875px) {
	.navbar li {
		font-size: 1em;
	}
}
