.site-header {
	margin-top: 0px;
	border: 0px;
}
.wrapper {
	padding: 0px;
}

.site-header a {
	text-decoration: none;
}
.site-header li {
	display: inline;
	float: left;
	padding-left: 5%;

}
.header-left {
	float:right;
}
