https://goo.gl/23IiOS {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning  (fixed)*/
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  https://goo.gl/23IiOS {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.splashImage h1 {
    z-index:  1000;
    font-size:  15vw;
    font-family: Lato;
    font-weight: 100;
    color: white;
    text-align: center;
    position: absolute;
    top: 200px;
   left: 0;
   width: 100%;
}

.splashImage h1 span {
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   padding-bottom: 45px;
   padding-right: 45px;
   padding-left: 45px
}
