https://files.gitter.im/RachelBLondon/libert-x/QVBV/rsz_backgroundimg.jpg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  background-size: 100% 100%;
/*  width: 100%;
  height: auto;
*/
  /* Set up positioning  (fixed)*/
  position: relative;
  top: 0;
  left: 0;
}

/* @media screen and (max-width: 1024px) { /* Specific to this particular image */
 /* https://files.gitter.im/RachelBLondon/libert-x/QVBV/rsz_backgroundimg.jpg {
    left: 50%;
    margin-left: -512px;   /* 50% */
 /* }
/* }  */


.splashImage h1 {
    z-index:  1000;
    font-size:  15vw;
    font-family: Lato;
    font-weight: 100;
    color: white;
    text-align: center;
    position: absolute;
    top: 200px;
   left: 0;
   width: 100%;
}

.splashImage h1 span {
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding: 0.1em;
   padding-bottom: 0.3em;
   padding-right: 1.31em;
   padding-left: 1.31em;
}
