.splashImage {
    padding-top: 4em;
}

 https://files.gitter.im/RachelBLondon/libert-x/Xk5P/new.jpg {
  min-height: 100%;
  min-width: 1024px;
  width:  100%;
  height:  100%;
  background-size: 100% 100%;
  position: absolute;
  top: 67px;
  left: 0;
}

.splashImage h1 {
    z-index:  1000;
    font-size:  15vw;
    font-family: Lato;
    font-weight: 100;
    color: white;
    text-align: center;
    position: absolute;
    top: 0.8em;
   left: 0;
   width: 100%;
}

.imgSpan {
   letter-spacing: -1px;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   padding-top:  0.1em;
   padding-bottom: 0.1em;
   padding-right: 1.31em;
   padding-left: 1.31em;
}

.splashDiv {

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
   https://files.gitter.im/RachelBLondon/libert-x/Xk5P/new.jpg{
    left: 50%;
    margin-left: -512px;   /
  }
 }
