<h1 class="biogtitle" id="team"> Meet the Team </h1>
<div class="container">

  <div class="biogrow1">
      <div class="biogpic">
        <img class = "biogus" src="https://goo.gl/285T27"alt="Huw Davies">
      </div>
      <div class="biogtext">
        <h3>Huw Davies</h3>
        <p>My name is Huw and I'm from London. I went to school in Wimbledon and University in Warwick, where I studied Classics. I felt I needed to learn more languages that people didn't speak so I started learning programming. I love sports - I play lacrosse on weekends and support Wales in rugby and Chelsea in football.</p>

        <a href ="https://twitter.com/hdrdavies" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1OChU5H"></a>
        <a href= "https://github.com/hdrdavies" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1iUglUC"></a>
        <a href= "http://bit.ly/1UZBVTB" target="_blank"><img class="biogsocialmedia" src ="http://bit.ly/1QLbbFN"></a>
      </div>
    </div>

      <div class="biogpic">
        <img class = "biogus" src="http://bit.ly/1KlvzZG"alt="Rachel Black">
      </div>
      <div class="biogtext">
        <h3>Rachel Black</h3>
        <p>My name is Huw and I'm from London. I went to school in Wimbledon and University in Warwick, where I studied Classics. I felt I needed to learn more languages that people didn't speak so I started learning programming. I love sports - I play lacrosse on weekends and support Wales in rugby and Chelsea in football.</p>

        <a href ="https://twitter.com/RachelBLondon" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1OChU5H"></a>
        <a href= "https://github.com/RachelBLondon" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1iUglUC"></a>
        <a href= "http://bit.ly/1Fky4ia" target="_blank"><img class="biogsocialmedia" src ="http://bit.ly/1QLbbFN"></a>
      </div>
    </div>

  <div class="biogrow2">
      <div class="biogpic">
        <img class = "biogus" src="http://bit.ly/1YjpxT1"alt"Justen Barget">
      </div>
      <div class="biogtext">
        <h3>Justen Barget</h3>
        <p>My name is Huw and I'm from London. I went to school in Wimbledon and University in Warwick, where I studied Classics. I felt I needed to learn more languages that people didn't speak so I started learning programming. I love sports - I play lacrosse on weekends and support Wales in rugby and Chelsea in football.</p>

        <a href ="https://twitter.com/justenbarget" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1OChU5H"></a>
        <a href= "https://github.com/Jbarget" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1iUglUC"></a>
        <a href= "http://bit.ly/1QmgPgS" target="_blank"><img class="biogsocialmedia" src ="http://bit.ly/1QLbbFN"></a>
      </div>
    </div>

      <div class="biogpic">
        <img class = "biogus" src="http://bit.ly/1KvSFQV"alt="Ruth Uwemedimo">
      </div>
      <div class="biogtext">
        <h3>Ruth Uwemedimo</h3>

        <p>My name is Huw and I'm from London. I went to school in Wimbledon and University in Warwick, where I studied Classics. I felt I needed to learn more languages that people didn't speak so I started learning programming. I love sports - I play lacrosse on weekends and support Wales in rugby and Chelsea in football.</p>
        <a href ="https://twitter.com/RuthUwemedimo" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1OChU5H"></a>
        <a href= "https://github.com/rug1" target="_blank"><img class="biogsocialmedia" src = "http://bit.ly/1iUglUC"></a>
        <a href= "http://bit.ly/1P7hC4Q" target="_blank"><img class="biogsocialmedia" src ="http://bit.ly/1QLbbFN"></a>
      </div>
  </div>

</div>
